# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
APP_NAME="microservice-instant-messaging"
CONTAINER_NAME="microservice-instant-messaging"
CONTAINER_EXPORT_HTTP="3001"
CONTAINER_EXPORT_WEBSOCKET="3002"
CONTAINER_EXPORT_DB="30001"
CONTAINER_RESTART="no" # no/always/on-failure/unless-stopped
DATABASE_URL="postgresql://postgres:postgres@${CONTAINER_NAME}-db:5432/microservice-instant-messaging?schema=public"

JWT_SECRET="example"
JWT_EXPIRE_TIME="12h"

SWAGGER_USER="swagger"
SWAGGER_PASSWORD="swagger"

# url setting
EXPORT_HTTP_URL="https://localhost:${CONTAINER_EXPORT_HTTP}" # External url ， need https
URL_GLOBAL_PREFIX=""
URL_API_PREFIX="/api" # ${URL_GLOBAL_PREFIX}${API_PREFIX}
URL_SWAGGER="/document" # ${URL_GLOBAL_PREFIX}${API_PREFIX}${SWAGGER_URL}
URL_STATIC="/" # ${URL_GLOBAL_PREFIX}${URL_STATIC}

# image setting
IMAGE_FOLDER_NAME="image"
EXPORT_IMAGE_URL="${EXPORT_HTTP_URL}${URL_GLOBAL_PREFIX}${URL_STATIC}${IMAGE_FOLDER_NAME}"

DEFAULT_TIMEZONE="8"

API_KEY="example"
CALLBACK_KEY="example"

THIRD_PART_SERVER_TOKEN_AUTH_API="http://localhost:3000/api/token/microservice/auth"
